<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="">
<!--<![endif]-->
    <meta charset='utf-8'>
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="assets/css/auth.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function(){$('#username').focus();});
    </script>
</head>
<body>
    <div id="universalNav">
        <ul>
            <li><a href="/" class="current">Account Home</a></li>
            <li><a href="changePassword.html">Change My Password</a></li>
            {{#hasRoleUserAdmin}}<li><a href="manageUsers.html">Manage Users</a></li>{{/hasRoleUserAdmin}}
        </ul>
    </div>
    <div id="user">
        <span>Hi,&nbsp;</span><span id="displayName">{{verifiedUserToken.userAccount.displayName}}</span>
        <a id="logoutLink" href="logout.html">logout</a>
    </div>

    <h1>Change My Password</h1>

    <div id="message">{{message}}</div>

    <form method="post" action="changePassword">
        <div id="passwordWrapper"><label for="password">Existing Password</label> <input type="password" id="passwordVerify" name="passwordVerify" value=""/></div>
        <div id="passwordWrapper"><label for="password">New Password</label> <input type="password" id="password" name="password" value=""/></div>
        <div id="passwordWrapper"><label for="password">Confirm New Password</label> <input type="password" id="passwordConfirm" name="passwordConfirm" value=""/></div>

        <input type="submit" value="Change Password"/>
    </form>
</body>
</html>