<html>
<head>
    <title>Logged Out</title>
    <link rel="stylesheet" type="text/css" href="assets/css/auth.css">
</head>
<body>

<div id="user">
    <a id="loginLink" href="login.html">login</a>
</div>

<h1>You are now Logged Out</h1>

You should close your browser to ensure you are completely logged out.

</body>
</html>