<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="assets/css/auth.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function(){$('#username').focus();});
    </script>
</head>
<body>
    <div id="message">{{message}}</div>

    <form method="post" action="login">
        <input type="hidden" name="destination" value="{{destination}}"/>

        <div id="credsWrapper">
            <div id="usernameWrapper"><label for="username">Username</label> <input type="text" id="username" name="username" value=""/></div>
            <div id="passwordWrapper"><label for="password">Password</label> <input type="password" id="password" name="password" value=""/></div>
        </div>

        <input type="submit" value="Login"/>
    </form>
</body>
</html>