<html>
<head>
    <title>Permission Denied</title>
    <link rel="stylesheet" type="text/css" href="assets/css/auth.css">
</head>
<body>
<div id="user">
    {{#verifiedUserToken}}
        <span>Hi, </span><span id="displayName">{{verifiedUserToken.userAccount.displayName}}</span>
        <a id="logoutLink" href="logout.html">logout</a>
    {{/verifiedUserToken}}
    {{^verifiedUserToken}}
        <a id="loginLink" href="login.html">login</a>
    {{/verifiedUserToken}}
</div>
<h1>Permission Denied</h1>
<h3>You do not have permission to access the requested page.</h3>

</body>
</html>